body{
margin:0;
padding:0;
background:url(st.jpg) no-repeat;
background-size: cover;
}
.box{
width: 450px;
background: rgba(0, 0, 0, 0,5);
padding: 40px;
text-align: center;
margin: auto;
margin-top: 5%;
color: rgb(38, 0, 88);
font-family: 'century Gothic',sans-serif
}
.box-img{
border-radius: 25%;
width:200px;
height: 200px;
}
.box h2{
font-size: 40px;
letter-spacing: 40px;
font-weight: 100px;
}
.box h5{
font-size: 20px;
letter-spacing: 3px;
font-weight: 100;
}
.box p{
text-align: center;
margin:0px 20px 0px 20px;
}
ul{
margin:0;
padding:0;
}
.box li{
    display: inline-block;
    margin:6px;
    list-style: none;
}
.box li a{
text-decoration: none;
font-size: 35px;
}