body{
margin:0;
padding:0;
background-image:url(st.jpg);
background-size: cover;
}

*{
    color: white;
}
.box{
width: 350px;
background: rgba(0, 0, 0, 0.24);
padding: 40px;
text-align: center;
margin: auto;
margin-top: 5%;
color: rgba(247, 250, 253, 0.842);
font-family: 'Century Gothic',sans-serif;
text-decoration: none;
}
.box li a{
color: white;
text-decoration: none;
    font-size: 35px;
    margin: 10px;
    transition: all ease-in 0.5s;
}
.box li a :hover{
    color: rgb(4, 203, 253);
    font-size: xx-large;
}
.box-img{
border-radius: 25%;
width:200px;
height: 200px;
}
.box h2{
font-size: 40px;
letter-spacing: 40px;
font-weight: 100px;
}
.box h5{
font-size: 20px;
letter-spacing: 3px;
font-weight: 100;
}
.box p{
text-align: center;
margin:0px 20px 0px 20px;
}
ul{
margin:0;
padding:0;
}
.box li{
    display: inline-block;
    margin:6px;
    list-style: none;
}
.box li a{
text-decoration: none;
font-size: 35px;
}
.nihao{
list-style: none;

width: 350px;
background: rgba(0, 0, 0, 0.24);
padding: 40px;
text-align: center;
margin: auto;
margin-top: 5%;
color: rgba(0, 69, 134, 0.842);
font-family: 'Century Gothic',sans-serif;
text-decoration: none;
}
.nihao2{
    width: 350px;
    background: rgba(0, 0, 0, 0.24);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgba(0, 69, 134, 0.842);
    font-family: 'Century Gothic',sans-serif;
    text-decoration: none;
}
.nihao3{
    width: 100%;
    background: rgba(0, 0, 0, 0.24);
    padding: 20px;
    color: rgba(15, 15, 15, 0.842);
    font-family: 'Century Gothic',sans-serif;
    text-decoration: none;    
}
.nihao4{
    width: 100%;
    background: rgba(0, 0, 0, 0.24);
    padding: 20px;
    color: rgba(15, 15, 15, 0.842);
    font-family: 'Century Gothic',sans-serif;
    text-decoration: none;   
}